@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 820px) {
    .paragrafo-apresentacao{
        color: #605a50;
    }
}

@media screen and (min-width: 1024px) {
    .paragrafo-apresentacao{
        color: #ffffff;
    }
}

.cabecalho{
    padding-bottom: 40px;
    background-color: #867f75;

}

.divcabecalho{
    display: flex;
}

.meunome{
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
    font-size: 30px;
    color: white;
}

.infocabecalho{
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
    font-size: 30px;
    padding-right: 600px;
    margin-left: 20px;
    color: white;
}

.apresentacao{
    background-color: black;
}

.imagem-painscreek{
    width: 1200px;
    margin-left: 160px;
    padding-bottom: 100px;
}

.paragrafo-apresentacao{
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
    text-align: center;
    text-align: center;font-family: 'Inter', sans-serif;
}

.logo-painscreek{
    padding-top: 100px;
    margin-left: 450px;
    padding-bottom: 100px;
}

.notaprincipal{
    background-color: #b6afa6;
}

.apresentacaojogo{
    font-family: 'Inter', sans-serif;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 25px;
    text-align: center;
}

.titulo1972{
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 100px;
    background-color: #605a50
}

.quecomeceainvestigacao{
    background-color: #867f75;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.sofiamiller{
    width: 500px;
    padding-top: 40px;
    padding-right: 40px;
}

.container{
    display: flex;
}

.texto1{
    padding-top: 100px;
    margin: 0% 5% 0% 5%;
    text-align: center;
    color: white;
    font-size: 30px;
}